body
{
    margin: 0;
    padding: 0;
    background: black;
}
.shadow
{
    position: relative;
    margin: 200px auto 0;
    width: 400px;
    height: 250px;
    background: linear-gradient(0deg,#000,#262626);
}
.shadow:before,
.shadow:after
{
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: animate 20s linear infinite;
}
.shadow:after{
    filter: blur(20px);
}

@keyframes animate
{
    0%
    {background-position: 0 0;
    }
    50%
    {background-position: 300% 0;
    }
    100%
    {background-position: 0 0;
    }
}
.textBtnComenzar{
    display: inline-block;
    width: 400px;
    height: 250px;
    margin: auto;
    padding-top: 100px;
    text-decoration: none;
}
.link
{   width: 400px;
    height: 250px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center; 
    font-size:20px;
    color: black;
    text-shadow: 1px 1px 0px rgba(252, 251, 251,0.5), 2px 3px 0px rgba(255, 255, 255, 0.3); 
    text-decoration: none !important;
}

.link:hover
{
    color: black;
    text-shadow: 1px 1px 0px rgba(252, 251, 251,1), 2px 3px 0px rgba(255, 255, 255, 0.3); 
    transition: linear 0.3s;
    transform: matrix3d();
    font-size: 23px;
}
