.App {
    text-align: center;
    background-image: url('./../../images/white2.jpg');
    color: white;
    padding-top: 2%;
    font-size: 1.2em;
    font-weight: 100;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 671px;
  }
  .Container{
    background: rgba(0, 0, 0, 0.8);
    padding-top: 1%;
    padding-bottom: 2%;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    width: 50%;
    margin: auto; 
    margin-top: -1%;
  }
  form{
    height: 160px;
  }
  form label, form input { 
    font-size: 13px !important; 
    color: white !important;   
  }
  label{
    font-size: 0.8em;
  }
  .typeSuscriptionStyle{
    margin-top: -7%
  }
  .CountrySelection{
    margin-top: -13%
  }
  p{
    font-size: 0.85em !important; 
    font-weight: 400;
  }
  option{
    background-color: rgba(0, 0, 0, 0.6)!important; 
  }
  #field-wrapper{
    background-color: rgba(0, 0, 0, 0.3)!important; 
    border-color: rgba(0, 0, 0, 0.3) important;
    border-radius: 10px;
    font-size: 1.1em;
    color: white;
  }
  h2{
    font-size: 1.2em;
    margin-top: -1%;
  }
  /*--------*/
  span{
    width: 70px !important;
    box-sizing: border-box !important;
  }
  button{
    box-sizing: border-box !important;
  }
  .linkCancel{
    display: block !important;
    width: 90px !important;
    height: 24px !important;
    padding-top: 10%;
  }
  /*----------  SPINNER ----------------*/
  #spinner{
    display: none;
    position: absolute;
    top: 20%;
    left: 48%;
  }
  /*----------  SWEET ALERT  -------------*/
  /* sweet Alertcolor btn swal confirm*/
  .swal2-confirm.swal2-styled{
    background-color: rgb(199, 189, 189) !important;
    color: black !important;
    font-weight: 700 !important;
    font-size: 1.1em !important;
  }
  .swal2-title{
    color: white !important;
    text-shadow: 1px 2px black !important;
    font-size: 1.7em !important;
  }
  .swal2-confirm.swal2-styled:hover{
    background-color: rgba(0, 0, 0, 0.7 )!important;
    color: white !important;
  }
  h4 {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center; 
    font-size:20px;
    color:#fff;
    text-shadow: 1.4px 1.4px 0px rgba(255,255,255,.7), 5px 7px 0px rgba(0, 0, 0, 0.1); 
  }
  h5{
    font-family: Helvetica, Arial, sans-serif;
    text-align: center; 
    color:#fff;
    font-weight: bold;
  }
  .linkBtnCancel{
    display: inline-block;
    width: max-content  ;
    margin: 0;
    padding: 0;
  }
  
  /*---------btn cancel--------*/
  .textoBtnCancel,.textoBtnSend{
    display: inline-block;
    width: 100px;
    height: 40px;
    margin: auto;
    line-height: 40px;
    text-decoration: none;
    color: white
  }
  .linkCancel2{
    width: 100px;
    height: 40px;
    text-align: center; 
  }
  .buttonCanSend {
    text-align: center;
    box-sizing: border-box;
    width: 100px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 40px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 7px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  .buttonCanSend:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  .buttonCanSend:focus {
    outline: none;
  }
  .buttonCanSend.color-1   {
    background-image: linear-gradient(to left, #a8121a, #ec8c69, #f7186a , rgb(163, 13, 13));
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
  }
  .buttonCanSend.color-2 {
    background-image: linear-gradient(to left, #25aae1, #4481eb, #043efe, #1e6adb);
    box-shadow: 0 4px 15px 0 rgba(15, 88, 196, 0.75);
  }